h3 {
  font-family: "Gotham Black", sans-serif;
  line-height: 1.2em;
  color: rgb(255, 255, 255);
  text-align: center;
}

p {
  font-family: "Gotham Black", sans-serif;
  font-size: 20px;
  line-height: 1.2em;
  color: rgb(255, 255, 255);
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black !important;
}

header {
  background-image: url(/multimedia/imagenes/header2.jpg);
}

#nav {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 70%, rgb(0, 255, 51) 100%);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: rgb(87, 86, 85);
  color: white;
  position: fixed bottom;
}

#containerIndex1 {
  text-align: center;
}

#cardHeader {
  width: 100%;
  height: 200px;
}

#imagenPrincipal {
  width: 100%;
  max-height: 500px;
  min-height: 100px;
}

h1 {
  color: white;
}

.row {
  padding: 5px;
}

#logoPrincipal {
  height: 30px;
  width: 30px;
}

.card-title {
  color: white;
  text-align: center;
}

.card-text {
  color: white;
  text-align: center;
}

h2 {
  text-align: center;
  color: white;
}

#batDark {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

#sectionProductos {
  background-color: black;
}

#containerNavList a {
  color: white;
}

#primerParrafo {
  background-color: rgb(0, 0, 0);
  width: 100%;
  border: solid 2px black;
  border-radius: 10px;
}

#textBienvenidos {
  font-size: 70px;
  color: #ffffff;
}

.textCarru {
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.containerTextCarru {
  height: 40px;
  border: solid 3px #ffffff;
  border-radius: 10px;
}

#botonInfo {
  width: 100%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}
#botonInfo button {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(3, 3, 3);
}
#botonInfo button:hover {
  transition: 0.5s;
  background-color: rgb(15, 199, 15);
}

/*contactos*/
#formularioContactos {
  width: 70%;
  border: solid 3px black;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

#textTitutuloForm {
  font-size: 50px;
  color: #ffffff;
}

#mainContactos {
  background-color: black;
}

#formularioContactos label {
  color: #ffffff;
}

/* fin contactos*/
/*comics*/
#galeriaComics .col-lg-4 {
  margin: 0% !important;
  padding: 70px;
}
#galeriaComics .col-lg-4 img {
  width: 100%;
  height: 500px;
}
#galeriaComics .col-lg-4 img:hover {
  border: 5px solid rgb(15, 199, 15);
}

strong {
  width: 100%;
  border: 1px solid;
  padding: 2px 5px;
  /* BOTH of the following are required for text-overflow */
  white-space: nowrap;
  overflow: hidden;
}

/*peliculas*/
#galeriaCards {
  background-color: black;
}
#galeriaCards .row .col-lg-4 {
  margin: 0% !important;
  padding: 70px;
}
#galeriaCards .row .col-lg-4 .card {
  width: 100%;
  height: 600px;
  border: solid 3px black;
}
#galeriaCards .row .col-lg-4 .card img {
  width: 100%;
  height: 400px;
  transition: transform 0.2s;
}
#galeriaCards .row .col-lg-4 .card img:hover {
  transform: scale(1.05);
}
#galeriaCards .row .col-lg-4 .card a {
  width: 100%;
  height: 30px;
  padding: 2px;
  border-radius: 5px;
}

/*comics*/
h5 {
  font-family: "Gotham Black", sans-serif;
  line-height: 1.2em;
  color: white;
  text-align: center;
  text-decoration: underline;
}

h6 {
  font-family: "Gotham Black", sans-serif;
  line-height: 1.2em;
  color: white;
  text-align: center;
}

.parallax {
  /* The image used */
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  text-align: right;
  background-image: url("/multimedia/imagenes/batman_fondo.jpg");
  background-attachment: fixed;
  background-position: left;
}
.parallax .parallaxDescription {
  width: 90%;
  max-width: 1000px;
  display: block;
  margin-left: 50px;
}

section .text-center {
  color: white;
  font-size: 20px;
}
section .carousel-item img {
  max-height: 400px;
}/*# sourceMappingURL=main.css.map */