*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


$grid-columns:      12;
$grid-gutter-width: 1.5rem;
$colorTextWhite: white;
$alinearTexT: center;


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);
header {
    background-image: url(/multimedia/imagenes/header2.jpg);
}
#nav {
  background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 90%, rgba(0,255,51,1) 100%);
position: sticky;
top: 0;
} 

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(87, 86, 85);
    color: white;
    position:fixed bottom;
    
  }

#containerIndex1 {
   
    text-align: center;
}
  #cardHeader{
   
   width: 100%;
    height: 200px;
  }
  #imagenPrincipal{
 width: 100%;
 max-height: 500px;
 min-height: 100px;
   
  }

  
 .row{padding: 5px;}
 #logoPrincipal {
    height: 30px;
    width: 30px;
 }
 .card-title{
  color: $colorTextWhite;
  text-align: $alinearTexT;
 }
 .card-text{
color: $colorTextWhite;
text-align: $alinearTexT;
 }
 
 
 
h2
{text-align: center;
  color: $colorTextWhite;
} 
    

 #batDark  {
    object-fit: cover;
    width:100%;
    height:100%; }

    #sectionProductos {
        background-color: black;
    }
    
    #fila1 {
        width: 50%;
    }

    #containerNavList a {
      color: $colorTextWhite;
    }
  
  .linksFooter{
    text-decoration: none;

  }
  #primerParrafo{
    background-color: rgb(37, 21, 75);
    width: 100%;
    border: solid 2px black;
    border-radius: 10px;
  }
  #textBienvenidos{
    font-size: 50px;
    color: rgb(172, 157, 157);}
    .textCarru{
      font-size: 20px;
      text-align: center;
      text-decoration: none;
      color: white;
      
    }
    .containerTextCarru{
      height: 40px;
      border: solid 3px white;
      border-radius: 10px;
    }
    #botonInfo{
      width: 100%;
      height: 200px;
         
        margin-left: auto;
        margin-right: auto; 
     
      
    }
    #botonInfoHijo{
     width: 100%;
     height: 100%;
     overflow: hidden;
     background-color: rgb(3, 3, 3);
    }
  #botonInfoHijo:hover{
    transition: .5s;
    background-color: blueviolet;
    }
    #formularioContactos {
      width: 70%;
      border: solid 3px black;
      margin-left: auto;
      margin-right: auto;
      padding: 10px;
    }
    #mainIndex{
      background-color: black;
    }
    #textTitutuloForm{
      font-size: 50px;
      color: white;

    }
    #mainContactos{
      background-color: black;
    }
    #formularioContactos label {
color: white;
    }
    .main-hack {
      width: 100%;
      
      height: 1000px;
    background-image: url(../multimedia/imagenes/riddle_back.jpg);
}
    .parrafoNygma{
      color: white;
      text-align: center;
      margin-top: auto;
      margin-bottom: auto;
      font-size: 80px;
    }
    .sectionNosotros{
      height: 1000px;
      width: 100%;
      background-image: url(../multimedia/imagenes/fondo-nosotros.jpg);
  }
  .nosotrosParrafo{
    background-color: transparent;
    font-size: 30px;
    font-family: 'Gotham Black', sans-serif;
    font-style: oblique;
    color: aliceblue;
    }
    


    
