*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


$grid-columns:      12;
$grid-gutter-width: 1.5rem;


$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

div {
    border: solid 5px greenyellow;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
    position:fixed bottom;
    
  }
nav {
    background-image: linear-gradient(to right, black, green);
} 
#containerIndex1 {
    width: 100%;
    text-align: center;
}
  #cardHeader{
    width: 100%;
    height: 200px;
  }
  #imagenPrincipal{
 width: 100%;
 max-height: 500px;
 min-height: 100px;
   
  }
  #cardHeader{
    color: green($color: #fa0808);
  }
 .row{padding: 5px;}
 #logoPrincipal {
    height: 30px;
    width: 30px;
 }
 
 
 
 strong { 
    text-align: center;
}
 #batDark  {
    object-fit: cover;
    width:100%;
    height:100%; }
    
